extends ../../layouts/dashboard


block styles
  meta(name="csrf-token" content=csrfToken)
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

block content
  div(class="flex flex-col gap-2 mb-10")
    h1(class="text-center text-2xl font-bold")= page
    p(class="text-center text-sm")= paragraph

  div(class="px-4 py-8 mx-auto shadow-md max-w-3xl bg-white md:px-10")
    form(id="formPropertyImage" class="dropzone flex items-center justify-center border-dashed border-2 rounded-lg min-h-[12rem] h-auto w-full" method="POST" action=`/properties/add-images/${property.id}`)
      input(type="hidden" name="_csrf" value=csrfToken)
      
    div(class="mt-8 w-full")
      button(type="submit" form="formPropertyImage" class="font-bold uppercase rounded-lg px-3 py-4 w-full transition-colors bg-sky-600 text-white hover:bg-sky-700 ") Publicar Propiedad

block scripts
  script(src="/js/addImages.js") 



