extends ../../layouts/dashboard


block styles


block content
  div(class="flex items-center justify-center")
    a(href="/my-properties" class="block text-center text-sm font-bold uppercase rounded-lg px-4 py-3 transition-colors bg-slate-200 text-slate-500") Volver 
    h2(class="text-center text-4xl font-extrabold flex-auto text-slate-800")= page

  div(class="container shadow mx-auto mt-8 p-5 bg-white")
    if messages.length
      ul
        each message in messages
          li(class="odd:border-b p-5 space-y-4 border-gray-200")
            div(class="flex items-center justify-between")
              p(class="font-bold text-slate-800") Nombre: 
                span(class="font-normal")= message.user.name
              p(class="font-bold text-slate-800") Email: 
                span(class="font-normal")= message.user.email
            
            p= message.message

            p(class="font-bold text-right text-slate-800") Enviado: 
              span(class="font-normal")= parseDate(message.createdAt)
    else
      p(class="text-center text-slate-800") No hay mensajes


block scripts